@media (min-width: 768px) {
    body {
        background-image: url('img/hatter.jpg');
        background-size: cover;
    }
}

@media (max-width: 767px) {
    body {
        background-color: aqua;
    }
}

body{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

#form{
    background-color: rgb(0 0 0 / 0.3);
    width: 600px;
    height: 670px;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid black;
    padding-top: 20px;
}

#eletkor{
    width: 50px;
}

#agazatdiv{
    margin-top: -10px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: rgb(255 110 120 / 0.3);
    border: 1px solid blue;
    border-radius: 15px;
}

.label{
    font-size: 1.1rem;
    color: white;
}

.szovegdoboz{
    width: 92%;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
}

.jobbra{
    position: fixed;
    right: 0px;
    top: 10px;
}

.agazatbox{
    transform: scale(2);
    margin-left: 10px;
    accent-color: rgb(38, 172, 172);
}

.agazatbox:hover{
    accent-color: lightblue;
}

.cbtext{
    font-size: 1.2rem;
    margin-left: 10px;
    color: white;
}

#regisztral{
    margin-top: 30px;
    width: 160px;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 25px;
    background-color: lightblue;
    border: 1px solid darkblue;
    transition: 0.3s;
}

#regisztral:hover{
    background-color: darkblue;
    color: white;
    border-color: black;
}

#gombdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin-top: 0px;
}

#agazattext{
    text-align: center;
    font-size: 1.1rem;
}

table{
    margin: auto;
}

#ikon{
    width: 30px;
}

.center{
    margin: auto;
    width: 80px;
    margin-top: 20px;
}

#nemdiv{
    width: 250px;
    margin-top: 10px;
}

#eletkordiv{
    width: 200px;
    margin-top: 5px;
}

#nemeletkor{
    width: 560px;
    height: 80px;
    position: relative;
}

#emaildiv{
    margin-top: 10px;
}

#foglalkozasdiv{
    margin-top: 0px;
}

.jelszolabel{
    width: 150px;
    text-align: right;
    margin-top: 5px;
}

#jelszodiv{
    margin-top: 15px;
}

#generalgomb {
    margin-left: 10px;
    padding: 5px;
    border-radius: 12px;
}

.jelszo{
    border-radius: 10px;
    font-size: 1.2rem;
}

#foglalkozas{
    height: 33px;
}